h3{
    color: red;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    border-radius: 20px;
    padding: 30px;
}

h2{
    color: aquamarine;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
}

.container{
    min-height: 90vh;
    background-color: rgb(167, 167, 58);
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: white;
    width: 350px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card p{
    color: gray;
    line-height: 2;
}

.card .main-btn{
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    background-color: rgb(167, 167, 58);
    letter-spacing: 2px;
    font-weight: 600;
}
